div.container.top-nav {
  padding: 1%;
}
a.lhv-logo {
  padding: 0 40px 0 0;
  line-height: 60px;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
li {
  list-style: none;
}
div.content-center {
  place-content: center;
}
a.btn.btn-lg.btn-dark {
  font-weight: 800;
}
nav.grey-bg {
  padding: 10px 0;
}

a.nav-item.nav-link.link-dark:hover {
  color: #000 !important;
}

a:hover,
a.nav-item.nav-link.link-dark.main-menu:hover {
  color: #73737b !important;
}
a.nav-item.nav-link.link-dark {
  color: #73737b !important;
  text-transform: none;
  font-size: 15px;
  padding: 0 20px;
}
a.nav-item.nav-link.link-dark.main-menu {
  color: #000 !important;
  font-weight: 500;
  text-transform: uppercase;
}
.noortepank-title {
  padding: 0 20%;
}
a.nav-item.nav-link.btn.btn-dark.btn-sm.join-us {
  margin-top: -7px;
  color: #fff;
  padding: 5px;
}
.top-links-right {
  display: flex;
  line-height: 60px;
}
.font-weight-bold {
  font-weight: 700;
}
ul.top-links-right li a,
ul.top-links-left li {
  font-size: 12px;
  text-transform: uppercase;
}
.top-links-left {
  line-height: 20px;
}
.top-links-left li a {
  color: #000;
  text-decoration: none;
}
ul.top-links-left {
  padding: 0;
}
.section-title {
  padding: 80px 0 30px 0;
  margin-bottom: 0;
  text-align: center;
}
.section-bottom {
  padding: 0 0 80px 0;
}
.section-top {
  padding-top: 80px;
  margin-bottom: 0;
}
div.text-banner-img {
  background-color: #f93a2c;
  background-image: url(../images/sajaga-edasi.gif);
  height: 500px;
  z-index: -56;
  top: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
h2.banner-text {
  width: 400px;
  place-self: center;
  margin-right: 50%;
  font-size: 45px;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: -1px;
  color: #fff;
}
a.banner-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  place-self: center;
  margin-right: 50%;
}
a.banner-link:hover {
  color: #fff !important;
}
a.join-us {
  color: #fff;
  font-weight: 700;
}
a.join-us:hover {
  color: #fff !important;
  background-color: #262633;
}
div.second-menu {
  font-size: 13px;
}
.second-menu {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.text-top {
  text-align: center;
}
p.info-text {
  transform: rotate(-3deg);
  color: #fff;
  background-color: #ff4747;
  font-weight: 600;
  width: fit-content;
  padding: 0px 5px;
  margin: 0 10px;
}
.text-info-red {
  font-size: 16px;
  color: #fff;
  background-color: #ff4747;
}
div.img-info-position {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
div.info-img {
  text-align: center;
  text-align: -webkit-center;
}
.info-for-young {
  align-self: center;
}

/* Noortekaart */
.noortekaart-list li {
  background-image: url(../images/checkmark.svg);
  background-repeat: no-repeat;
  background-position: 0 5px;
  padding: 0 16px 8px 30px;
  margin-bottom: 10px;
}
.noortekaart-title {
  padding: 0 16px 8px 30px;
}
.grey-bg {
  background: #f2f2f2;
}

.loe-lisa {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  margin-top: 10px;
}
.noorte-pangakaart {
  width: 100%;
  margin: 35px 0 15px;
  height: auto;
}

.kaardi-paigutus {
  text-align: center;
}
.oranz-btn {
  background-color: #ff5e53;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid #ddd;
}
.black-btn {
  background-color: #000;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid #ddd;
}
.white-btn {
  background-color: #f8f8f8;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid #ddd;
}

input[type='radio'] {
  display: none;
}
/* Partnerid - Soodustused */
.partner {
  text-align: center;
}
.partner-name {
  font-weight: 700;
  text-decoration-line: underline;
  line-height: 30px;
}
.partner-title {
  text-align: center;
  font-size: 24px;
  margin: 40px 0;
}
.timberland-logo {
  width: 150px;
  height: auto;
}
.timberland-sale {
  font-size: 40px;
  font-weight: 700 !important;
}
.timberland {
  display: flex;
  justify-content: flex-end;
}

/* Võida noortekaardiga */
.sajaga-title {
  font-size: 24px;
}
.sajaga-edasi-gif {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.voida-text {
  padding-left: 20px;
  float: right;
}
.voida-joondus {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.step-line {
  border-right: 1px solid #444b57;
  position: absolute;
  height: 20px;
  margin-left: 38px;
}
.step-line-left {
  border-right: 1px solid #444b57;
  position: absolute;
  height: 16px;
  margin-left: 38px;
}
.step-line-left-first {
  border-right: 1px solid #444b57;
  position: absolute;
  height: 16px;
  margin-left: 38px;
}
.step-line-right-sm {
  border-right: 1px solid #444b57;
  position: absolute;
  height: 20px;
  margin-left: 38px;
}
.step-line-right-check {
  border-right: 1px solid #444b57;
  position: absolute;
  height: 16px;
  margin-left: 38px;
}

/* Targalt */
.targalt-img {
  height: 295px !important;
  width: 295px !important;
}
.targalt-bg-1 {
  background-image: url(../images/rahatarkus-thumb-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.targalt-bg-2 {
  background-image: url(../images/rahatarkus-thumb-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.targalt-bg-3 {
  background-image: url(../images/rahatarkus-thumb-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.targalt-bg-4 {
  background-image: url(../images/rahatarkus-thumb-4.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.targalt-bg-5 {
  background-image: url(../images/rahatarkus-thumb-5.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.targalt-bg-6 {
  background-image: url(../images/rahatarkus-thumb-6.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.text-white {
  color: #fff;
  padding: 20px;
}
.text-black {
  color: #000;
  padding: 20px;
}
.col-xs-12.col-sm-6.col-md-4.targalt-card {
  margin-top: 35px;
}
/* Investeeri tulevikku */

.investeeri-img {
  height: 200px;
  width: auto;
  margin-bottom: 20px;
}

/* Hakka kliendiks */
.info-text-kliendiks {
  transform: rotate(3deg);
  color: #fff;
  background-color: #ff4747;
  font-weight: 600;
  width: fit-content;
  padding: 0px 5px;
  margin: 0 10px 20px 0;
}
.kliendiks-links {
  margin-left: 2rem;
}
.ava-konto-ise ul,
.ava-konto-ise,
.noortekaart-list,
.noortekaardiga-makstes ul li,
.noortekaardiga-makstes ul {
  padding-left: 0 !important;
  margin-left: 0;
}
.kliendiks-box-size {
  width: 42% !important;
  margin-right: 8% !important;
}

/* App telefonis */
.light-grey-bg {
  background: #f9f8f7;
  padding-bottom: 5%;
}
.noortekaart-phone {
  width: 70%;
}
.app-list {
  align-self: center;
}
.app-stores {
  padding-left: 2rem;
}
.mobile-screen {
  padding-left: 10%;
}
/* Jälgi meid */
.social {
  text-align: center;
}
.social-icons {
  width: 125px;
  padding: 15px;
}
/* Footer */
.footer-links-header {
  text-transform: uppercase;
  color: #909097;
}
.links-footer {
  padding-left: 0 !important;
  margin-left: 0;
}
.links-footer li a {
  color: #00000f;
  text-decoration: none;
}
.footer-small-social {
  margin-right: 15px;
}
.footer-text {
  color: #444b57;
  font-size: 12px;
}
/* Mobile */

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-1-right {
    margin-right: 8.33333333%;
  }
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6.info-img {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .investeeri-img {
    height: 175px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .targalt-img {
    width: 245px !important;
  }
  .investeeri-img {
    height: 150px;
  }
  .noortekaart-phone {
    width: 90%;
  }
  .step-line {
    height: 36px;
  }
  .step-line-right-sm {
    height: 31px;
  }
  .step-line-right-check {
    height: 31px;
  }
}
@media only screen and (max-width: 992px) {
  .col-md-4.invest-box,
  .col-md-6.noortepank-icons,
  .noortekaardiga-makstes {
    margin-bottom: 35px;
  }
  .noortekaart-phone {
    width: 100%;
  }
  .step-line {
    height: 72px;
  }
  .step-line-right-sm {
    height: 55px;
  }
  .step-line-right-check {
    height: 44px;
  }
  .step-line-left-first {
    height: 20px;
  }
  h2.banner-text {
    margin-right: 40%;
  }
  .noortepank-title {
    padding: 0;
  }
  .noortekaart-info {
    flex-flow: column-reverse;
  }
  .sajaga-edasi-mob {
    text-align: center;
  }
  ul.navbar-nav {
    align-items: center;
  }
  ul.navbar-nav li {
    padding: 5px 0;
  }
  nav.navbar.navbar-expand-lg.navbar-light.grey-bg.pt-3 {
    justify-content: flex-end;
  }
  ul.navbar-nav.second-menu.grey-bg.pt-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (min-width: 766px) {
  .top-menu-links {
    display: none;
  }
}
@media only screen and (max-width: 765px) {
  .col-xs-6 {
    width: 50%;
  }
  div.info-img {
    margin-bottom: 30px;
  }
  .col-xs-12.col-sm-6.col-md-4.targalt-card {
    text-align: -webkit-center;
  }
  .investeeri-img {
    height: 200px;
    width: 100%;
  }
  .kliendiks-box-size {
    width: 90% !important;
    margin: 35px 15px !important;
  }
  .step-line {
    height: 24px;
  }
  .step-line-right-sm {
    height: 20px;
  }
  .step-line-right-check {
    height: 20px;
  }
  .step-line-left-first {
    height: 15px;
  }
  .top-links-left {
    display: none;
  }
  .hr-line {
    border: 1px dotted #000;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  div.text-banner-img {
    background-color: #f93a2c;
    background-image: url(../images/sajaga-m-et.svg);
  }
  h2.banner-text {
    margin: 0;
    margin: 40% 0 0 0;
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 515px) {
  ul.navbar-nav.second-menu.grey-bg.pt-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 424px) {
  .step-line,
  .step-line-right-sm,
  .step-line-right-check,
  .step-line-left-first,
  .step-line-left,
  .ava-konto-none {
    display: none;
  }
  h2.banner-text {
    width: 85%;
  }
}
@media only screen and (max-width: 460px) {
  .step-line {
    height: 35px;
  }
  .step-line-right-sm {
    height: 31px;
  }
}
@media only screen and (min-width: 424px) {
  .ava-konto-display {
    display: none;
  }
}
@media only screen and (max-width: 515px) {
  ul.navbar-nav.second-menu.grey-bg.pt-3 {
    display: grid;
    grid-template-columns: auto auto;
  }
}
